# Telegram
BOT_TOKEN=bot_token
AUTHORIZED_USER_IDS=123456789,987654321

# Database
DB_PATH=registry.db

# Scheduler
CHECK_INTERVAL_HOURS=4

# Scraper / Selenium
CHROME_VERSION=145
TARGET_ACTIVITY=Oliy ta'lim xizmatlari
SCRAPER_WAIT_TIMEOUT=30
SCRAPER_RETRY_COUNT=2
BROWSER_PROFILE_DIR=browser_profile
PAGE_LIMIT=0
HEADLESS=true